{% extends "layouts/main.twig" %}

{% block content %}
    <h3>Cart</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="18%">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Count</th>
                        <th scope="col">Price</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Controls</th>
                    </tr>
                    </thead>
                <tbody>


                {% for i, product in cart %}
                    <tr>
                        <td><img src="{{ product.image }}" alt="" class="img-fluid"></td>
                        <td class="align-middle">{{ product.title }}</td>
                        <td class="align-middle">
                            <span>{{ product.count }}</span>
                            <a href="/cart/increment?id={{ i }}" class="btn">+</a>
                            <a href="/cart/decrement?id={{ i }}" class="btn">-</a>
                        </td>
                        <td class="align-middle">{{ product.price }}</td>
                        <td class="align-middle">{{ product.price * product.count }}</td>
                        <td class="align-middle">
                            <a href="/cart/remove?id={{ i }}" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                {% else %}
                    Cart is empty
                {% endfor %}


                </tbody>
            </table>

            <h4>Summary price: <span class="price">${{ summary }}</span></h4>


        </div>
    </div>
{% endblock %}